/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    padding: 0;
    font-family: "Noto Sans", "Font Awesome 5 Free";
    font-size: 20px;
}


/* The whole bar */
#waybar {
    background: #000000;
    color: #c0c0c0;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#idle_inhibitor,
#temperature,
#tray {
    margin: 3px 6px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    margin: 3px 0;
}

#clock.date {
    padding-left: 3px;
    border-radius: 8px 0 0 8px;
}

#clock.time {
    border-radius: 0 8px 8px 0;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#idle_inhibitor {
}

#workspaces button {
    /* To compensate for the top border and still have vertical centering */
    color: #888888;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px 2px;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: black;
    background-color: #808080;
    border-radius: 8px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
